<i id="deleteButton1" style="cursor: pointer;display: none" class="fas fa-trash-alt" data-toggle="modal" data-target="#my-Modal1">111</i>
<i id="deleteButton2" style="cursor: pointer;display: none" class="fas fa-trash-alt" data-toggle="modal" data-target="#my-Modal3">111</i>

<div>
<br>
<h1 class="display-1"style="text-align: center;font-size: 4rem">Edit Request Form <i id="deleteButton" style="cursor: pointer" class="fas fa-trash-alt" data-toggle="modal" data-target="#my-modal"></i></h1>

<div id="allform">



    <form class="m-4 shadow p-3 mb-5 bg-white rounded"[formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" #f="ngForm" >



        <label for="areaOfInterest">Area Of Interest <i class="fas fa-globe-americas"></i></label>
        <select id="areaOfInterest"
                class="form-control form-select"
                formControlName="areaOfInterest">

            <option value="" disabled selected>Choose...</option>
            <option value="BUT">BUT</option>
            <option value="DEFENCE">Defence</option>
            <option value="FINANCE">Finance</option>
            <option value="IOT">IOT</option>
            <option value="INDUSTRY">Industry</option>
            <option value="PAC">PAC</option>
            <option value="PAL">PAL</option>
            <option value="OTHER">Other</option>
        </select><p></p>


        <label for="status">Status <i class="fas fa-calendar-day"></i></label>
        <select *ngIf="ifAdmin=='true'" id="status"
                class="form-control form-select"
                formControlName="status"
                status="status"
                (change)="onChange($event)">

            <option value="" disabled selected>Choose...</option>
            <option value="CREATED">Created</option>
            <option value="IN_PROGRESS">In progress</option>
            <option value="REJECTED">Rejected</option>
            <option value="DELETED">Deleted</option>
            <option value="IN_CHARGE">In Charge</option>
            <option value="PENDING_INFORMATION">Pending information</option>


        </select>
        <input *ngIf="ifAdmin=='false'" type="text"
               class="form-control"
               placeholder=""
              status="status"
               formControlName="status"
                readonly>

        <p></p>



        <div class="form-group">
            <label for="startDate">Start Date <i class="far fa-calendar-alt"></i></label>
            <input type="date"
                   id="startDate"
                   class="form-control"
                   placeholder=""
                   startDate="startDate"
                   formControlName="startDate"
                   required>
            <small *ngIf="startDate.value > endDate.value;" required class="text-danger">Incorrect date!</small>
        </div>

        <div class="form-group">
            <label for="endDate">End Date <i class="far fa-calendar-check"></i></label>
            <input type="date"
                   id="endDate"
                   class="form-control"
                   placeholder=""
                   startDate="endDate"
                   formControlName="endDate"
                   required>
            <small *ngIf="endDate.value < startDate.value;" required class="text-danger">Incorrect date!</small>
        </div>

        <div class="form-group">
            <label for="description">Project Description <i class="far fa-sticky-note"></i></label>
            <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    placeholder="Enter description"
                    description="description"
                    formControlName="description"
                    required></textarea>
            <small *ngIf="description.invalid && description.touched" class="text-danger">Please enter project description!</small>
        </div>

        <div class="form-group">
            <label for="notes">
                <span *ngIf="myForm.value.status!='PENDING_INFORMATION'">Project notes.</span>
                <span style="color: red" *ngIf="myForm.value.status=='PENDING_INFORMATION' &&ifAdmin=='true'">Please wait for requester to update information!</span>
                <span style="color:red" *ngIf="ifAdmin=='false' && myForm.value.status=='PENDING_INFORMATION'">Requester, please enter pending notes!</span>
                <span style="color:red" *ngIf="ifAdmin=='true' && this.currentStatusValue=='Rejected'"> Please enter rejection reasons!</span>
                  <i class="far fa-comment-alt"></i>
                </label>
            <input type="text"
                   id="notes"
                   class="form-control"
                   placeholder="Enter notes"
                   description="notes"
                   formControlName="notes"
                   required>

            <small *ngIf="notes.invalid && notes.touched" class="text-danger">Please enter notes!</small>
        </div>

        <div class="form-group">
            <label for="createdBy">Created By<i class="far fa-sticky-note"></i></label>
            <input
                    type="text"
                    id="createdBy"
                    class="form-control"
                    createdBy="createdBy"
                    formControlName="createdBy"
                    readonly
                    required>
        </div>
        <div class="form-group">
            <label for="updatedBy">Updated By<i class="far fa-sticky-note"></i></label>
            <input
                    type="text"
                    id="updatedBy"
                    class="form-control"
                    updateddBy="updatedBy"
                    formControlName="updatedBy"
                    readonly
                    >
        </div>

        <br>

        <div formArrayName="resourceDTOS">

            <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let resource of myForm.get('resourceDTOS').controls; let i=index">
                <fieldset>
                    <legend><h4 *ngIf="ifAdmin=='false' && myForm.value.status!='IN_CHARGE' && i>0 || ifAdmin=='true' && i>0" style="text-align: center;cursor: pointer" > <i class="far fa-plus-square fa" (click)="addNewResourceDTOS()"></i> Resource {{i+1}}

                        <i *ngIf="ifAdmin=='false' && myForm.value.status!='IN_CHARGE' && i>0 || ifAdmin=='true' && i>0" class="far fa-minus-square" style="cursor: pointer" (click)="deleteResourceDTOS(i)"></i>
                    </h4></legend>
                    <br>

                    <div [formGroupName]="i">
                        <div class="form-row">

                                <label class="ml-1"for="notes">Seniority <i class="fas fa-user-graduate fa-lg"></i></label>
                                <input type="text"
                                       class="form-control"
                                       id="seniority"
                                       placeholder="Seniority"
                                       name="type"
                                       formControlName="seniority"
                                       style="margin-right:5px;"
                                       required>



                        </div>
                        <small *ngIf="resource.get('seniority').errors?.required && resource.get('resourceNotes').errors?.required && resource.get('seniority').touched" class="text-danger">
                            Please enter seniority!
                        </small>

                        <br>
                        <span class="ml-1">Add Skills  <i *ngIf="ifAdmin=='false' && myForm.value.status!='IN_CHARGE'||ifAdmin=='true'" id="addSkillButton" class="fas fa-plus-circle fa-lg" style=";font-size: 25px"(click)="addNewResourceSkill(resource.controls.skillDTOS)"></i></span><p></p>

                                <div formArrayName="skillDTOS">
                                    <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let lines of resource.get('skillDTOS').controls; let j=index">
                                        <div [formGroupName]="j">
                                            <small style="margin-top: -50px"*ngIf="lines.get('skill',j).errors?.required && lines.get('skill',j).touched&&j==0" class="text-danger"><i class="fas fa-angle-down"></i> Please enter skill!<br></small>
                                            <small style="margin-top: -50px"*ngIf="lines.get('skill',j).errors?.required && lines.get('skill',j).touched&&j>0" class="text-danger"><i class="fas fa-angle-down"></i> Please enter or delete skill!</small>
                                            <div class="input-group mb-3">


                                                <input formControlName="skill"
                                                       class="form-control"
                                                       style="margin-right:5px;"
                                                       type="text"
                                                       placeholder="Enter skill"
                                                       id="skill"
                                                       name="skill"
                                                       aria-label="button1" aria-describedby="button1"

                                                />


                                                <div class="input-group-append">
                                            <i *ngIf="j>0" style="margin-left: -40px;z-index: 2;margin-top: 13px" id="button1" class="fas fa-minus-circle fa-lg"(click)="deleteResourceSkill(resource.controls.skillDTOS, j)"></i>
                                                </div>

                                            </div>






                                        </div>


                                    </div>
                                </div>





                        <div class="form-row ml-0">

                            <label class="ml-1" for="resourceNotes">Notes <i class="far fa-sticky-note"></i></label>
                            <textarea type="text"
                                      id="resourceNotes"
                                      class="form-control"
                                      placeholder="Enter notes here..."
                                      resourceNotes="resourceNotes"
                                      formControlName="resourceNotes"
                                      required></textarea>
                            <small *ngIf="resource.get('resourceNotes').errors?.required && resource.get('resourceNotes').touched" class="text-danger">
                                Please enter resourceNotes!
                            </small>

                        </div>


                        <br> <br>
                    </div>

                </fieldset>

            </div>

        </div>



        <button *ngIf="ifAdmin=='false' && myForm.value.status!='IN_CHARGE'||ifAdmin=='true'" type="submit" class="btn btn-success" [disabled]="myForm.invalid">Submit</button>

        <button type="button" class="btn btn-primary" onclick="location.href='https://localhost:4200/request-list';" >Go back!</button>
    </form>



    <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-body p-0">
                    <div class="card border-0 p-sm-3 p-2 justify-content-center">
                        <div class="card-header pb-0 bg-white border-0 ">
                            <div class="row">
                                <div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
                            </div>
                            <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p>
                            <p class="text-muted "> This change will reflect in your portal after an hour.</p>
                        </div>
                        <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                            <div class="row justify-content-end no-gutters">
                                <div class="col-auto"><button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button></div>
                                <div class="col-auto"><button type="button" class="btn btn-danger px-4" href="/request-list" data-dismiss="modal" (click)="DeleteRequest()" >Delete</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="my-Modal1" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <p>Something went wrong. Request was not uploaded.</p>
                    <button class="btn btn-success" data-dismiss="modal">Try Again</button>
                </div>
            </div>
        </div>
    </div>

    <div id="my-Modal2" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <p>Something went wrong. Request was not uploaded.</p>
                    <button class="btn btn-success" data-dismiss="modal">Try Again</button>
                </div>
            </div>
        </div>
    </div>

    <div id="my-Modal3" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Success</h4>
                    <p>Your request has been updated successfully.</p>
                    <button class="btn btn-success" data-dismiss="modal"><span>Close</span> <i class="material-icons">&#xE5C8;</i></button>
                </div>
            </div>
        </div>
    </div>





</div>
</div>

